<nav class="navbar navbar-expand-lg bg-transparent sticky-top">
  <a class="navbar-brand"  padding-top=0px href="#">
    <img src="assets/images/transparentlogo.png"  alt="" class="img-fluid">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="card-1 nav-card-content">
    <span class="navbar-text">
      <div>
        <ul class="navbar-nav" mr-auto>


          <li class="nav-item ">

            <a class="nav-link color-navlink" routerLink="" routerLinkActive="active">Home </a>

          </li>
          <li class="nav-item">
            <a class="nav-link color-navlink" routerLink="app-intro" routerLinkActive="active" align-top>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-navlink" routerLink="app-iso-charts" routerLinkActive="active">Real-Time Grid Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-navlink" routerLink="app-meter-charts" routerLinkActive="active">Real-Time Electric Use Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-navlink" routerLink="app-original" routerLinkActive="active">Original</a>
          </li>
        </ul>

      </div>
    </span>
  </div>
</div>
</nav>