<nav class="navbar-custom navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #f5f8fd;">
  <a class="navbar-brand"  padding-top= 5px href="#">
    <img src="assets/images/SALOGOBG.png" width="500"  alt="" class="img-fluid">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <span class="navbar-text">
      <div class="card card-1">
        <ul class="navbar-nav" mr-auto>


          <li class="nav-item ">

            <a class="nav-link" routerLink="" routerLinkActive="active">Home </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-intro" routerLinkActive="active" align-top>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-iso-charts" routerLinkActive="active">Real Time Grid Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-meter-charts" routerLinkActive="active">Real Time Consumption Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="app-original" routerLinkActive="active">Original</a>
          </li>
        </ul>

      </div>
    </span>
  </div>

</nav>