<div class="container-fluid custom-about ">
  <div class="row" background="white">
    <div class="col-md-6">
      <div style="font-size:24px">
        <h2>About Us</h2><br>

        <p><b>Smart Amperes, LLC</b> offers specialized turnkey energy control systems fine- tuned to reduce
          capacity and demand charges in the PSE&G Zone of the PJM regional transmission organization (RTO). Capacity
          and Demand
          Charges can constitute 50% or more of the electric bill.
          Our <b>SmartAmperes.AI</b> energy control system uses artificial intelligence to maximize electricity
          cost reduction.It observes customer’s energy use pattern over time to devise optimum peak shaving thresholds.
        </p>

        <p>In the energy industry, peak shaving refers to leveling out peaks in electricity use by industrial
          and commercial power consumers. </p>
        <p>Power consumption peaks affect power procurement costs: In the PSEG Zone
          of the PJM
          territory electricity prices for business customers are set with reference to their maximum
          peak-load. </p>
        <p>The
          reason is simple: the grid transmission load and the necessary amount of power production need to be
          designed to accommodate these peak loads.
        </p>
        <h4>
          <ul>
            <li>Electric demand peaks for a short period.<br><br>
            <li> Extra electric generation and transmission capacity is sized to
              meet the peak demand even if it occurs for a short time.<br><br>
            <li> Capacity and Demand charges levied to offset the peak demand capacity costs.
          </ul>
        </h4>
      </div>
    </div>
      <div class="col-md-6" position="relative">
        <img src="assets/images/PeakLoadILlustration.png" width="100%" alt="" class="img-fluid">
        <img src="assets/images/PeakShave.png" width="100%" alt="" class="img-fluid">
      </div>

  </div>
</div>