<div class="container=fluid ">
    <div class="row ">
      <h2>PJM Real-Time Data</h2>
     
    </div>
  
    <div class="row">
  
      <div class="col-md-6">
        <div class="cliente">
          <!-- <app-lmp-chart></app-lmp-chart> -->
  
        </div>
      </div>
      <div class="col-md-6">
        <div class="cliente">
          <!-- <app-load-chart> </app-load-chart> -->
        </div>
      </div>
  
    </div>
  
  
    <div class="row">
  
      <div class="col-md-12">
        <div class="cliente">
          <!-- <app-genmix-chart [chartData]="GenmixchartData" [chartType]="GenmixchartType"
            [StringToChild]="GenmixStringToChild">
          </app-genmix-chart> -->
        </div>
      </div>
    </div>
</div>