/* You can add global styles to this file, and also import other style files */
//  div {
//     border: 2px solid;
    
   
//     resize: both;
//     overflow: auto;
//   } 
  .cliente {
      margin-top:10px;
      border: #cdcdcd medium solid;
    border-radius: 0px;
    background-color: white;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
  }
  .chart {
    width: 100%; 
    min-height: 800px;
  }
  .row {
    margin:0 !important;
  }