<section id="intro" class="clearfix custom-home">
  <div class="container d-flex h-100">
    <div class="row justify-content-left align-self-center">
      <div class="col-md intro-info order-md-first order-first">

        <div class="card card-1">
          <div class="my-card-content">
            <h1   > Smart Amperes, LLC</h1>

            <h2 >Electric Demand Management<br> for Your <span>Building!</span></h2>
            <div>
              <a href="./app-intro" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>