span {
    color: #1bb1dc;
  }
  
  .btn-get-started,
  .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
  }
  .btn-get-started:hover,
  .btn-services:hover {
    background: #0a98c0;
  }

  